body {
  .react-datepicker {
    font-family: 'Noto Sans KR', serif;
    border: none;
    border-radius: 0;

    .react-datepicker__header {
      background-color: #292a2f;
      color: white;
      border-bottom: none;
      border-radius: 0;

      .react-datepicker__day-names {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;

        .react-datepicker__day-name {
          color: white;
        }
      }
    }

    .react-datepicker__triangle {
      display: none;
    }
  }

  .react-datepicker__day {
    &--in-range:not(&--in-selecting-range) {
      background-color: transparent;
      color: #000;
    }
  }
  .react-datepicker__day--in-selecting-range,
  .react-datepicker__day--in-range {
    background-color: rgb(128, 128, 128) !important;
  }

  .react-datepicker__day--selecting-range-start,
  .react-datepicker__day--selecting-range-end {
    background-color: rgb(74, 74, 74) !important;
  }
}
