{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "consistent",
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^@/assets/(.*)$",
    "^@/mocks/(.*)$",
    "^@/apis/(.*)$",
    "^@/util/(.*)$",
    "^@/hooks/(.*)$",
    "^@/store/(.*)$",
    "^@/pages/(.*)$",
    "^@/constants/(.*)$",
    "^@/components/(.*)$",
    "^@/styles/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
