.customHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: colors.$BG_COLOR; */
  background-color: #292a2f;
  color: white;
  height: 100%;
  margin-top: 8px;
  padding: 0 12px 0 24px;

  .month {
    font-size: 16px;
    font-weight: 500;
  }

  .year {
    font-size: 16px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    padding-right: 5px;
    margin-left: 5px;
    cursor: pointer;
  }

  .monthButton {
    width: 34px;
    height: 34px;
    padding: 5px;
    border-radius: 50%;

    + .monthButton {
      margin-left: 24px;
    }

    &:hover {
      background-color: #292a2f;
      /* background-color: rgba(colors.$WHITE, 0.08); */
    }

    &:disabled {
      cursor: default;
      /* background-color: colors.$BG_COLOR; */

      svg {
        fill: #575757;
      }
    }
  }
}
.calenderWrapper {
  background-color: #292a2f;
}
